:root {
  --banner-text-color: #ffffff;
  --link-color: #ff4e50;
  --title-color: #333333;
  --description-color: #8f8f8f;
  --red-color: #ff4e50;
  --yellow-color: #ffa507;
  --green-color: #1cd7ad;
  --blue-color: #4e73db;

  --first-font: 'Montserrat', sans-serif;
  --second-font: 'Roboto', sans-serif;
}

/* //////////////// */
.banner {
  min-height: 540px;
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav__link {
  text-decoration: none;
  font-family: var(--first-font);
  font-size: 14px;
  padding: 5px 20px 5px 20px;
  font-weight: bold;
  color: var(--banner-text-color);
}

.site-nav__link:hover,
.site-nav__link:focus {
  border: solid 2px;
  border-radius: 20px;
}

.site-logo {
  font-family: var(--first-font);
  font-size: 20px;
  font-weight: 400;
  color: var(--banner-text-color);
}

/* hero */

.hero__title {
  font-family: var(--first-font);
  font-weight: bold;
  color: var(--banner-text-color);
  text-align: center;
}

.hero__description {
  font-family: var(--second-font);
  color: var(--banner-text-color);
  text-align: center;
}

.hero__link {
  font-family: var(--first-font);
  font-size: 14px;
  color: var(--banner-text-color);
  padding: 5px 20px 5px 20px;
  border: solid 2px #ff4e50;
  background-color: #ff4e50;
  text-decoration: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.hero__link:hover,
.hero__link:focus {
  background-color: transparent;
}

/* main */

.main-title {
  font-family: var(--first-font);
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.item__title {
  font-family: var(--first-font);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: var(--title-color);
  margin-top: 25px;
  margin-bottom: 20px;
}

.item__description {
  font-family: var(--second-font);
  font-size: 14px;
  color: var(--description-color);
  text-align: center;
}

.item__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.partner-1 {
  position: relative;
  display: inline-block;
}

.partner-2 {
  position: relative;
  display: inline-block;
}

.partner-3 {
  position: relative;
  display: inline-block;
}

.partner-4 {
  position: relative;
  display: inline-block;
}

.partner-1::before {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  border: 3px solid #ffffff;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  transform: scale(1);
  background-image: url(../IMG/icons/1.svg);
  background-color: #ff5355;
  right: 0;
  bottom: 0;
}

.partner-2::before {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  border: 3px solid #ffffff;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  transform: scale(1);
  background-image: url(../IMG/icons/2.svg);
  background-color: #ffa507;
  right: 0;
  bottom: 0;
}

.partner-3::before {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  border: 3px solid #ffffff;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  transform: scale(1);
  background-image: url(../IMG/icons/3.svg);
  background-color: #1cd7ad;
  right: 0;
  bottom: 0;
}

.partner-4::before {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  border: 3px solid #ffffff;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  transform: scale(1);
  background-image: url(../IMG/icons/4.svg);
  background-color: #4e73db;
  right: 0;
  bottom: 0;
}

.card:hover::before {
  transform: scale(1.2);
}

.main__link {
  font-family: var(--first-font);
  font-size: 14px;
  color: var(--banner-text-color);
  padding: 5px 20px 5px 20px;
  border: solid 2px #ff4e50;
  background-color: #ff4e50;
  text-decoration: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.main__link:hover,
.main__link:focus {
  background-color: transparent;
  color: var(--link-color);
}

.img {
  align-items: center;
  justify-content: center;
}

/* //////////////// */

@media (min-width: 350px) and (max-width: 759px) {
  .header {
    flex-direction: column-reverse;
  }

  .banner {
    min-height: 540px;
    background-image: url(../IMG/mobile-baner.jpg);
  }

  .container {
    padding-top: 20px;
    padding-bottom: 140px;
  }

  .site-nav {
    align-items: center;
    justify-content: center;
  }

  .site-logo {
    margin-top: 120px;
    text-align: center;
    margin-bottom: 40px;
  }

  /* hero */

  .hero__title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .hero__description {
    width: 220px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }

  .hero__link {
    border-radius: 30px;
    width: 280px;
    height: 40px;
  }

  /* main */

  .main-title {
    margin-top: 75px;
    margin-bottom: 35px;
  }

  .main-menu {
    align-items: center;
    justify-content: center;
  }

  .main-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    margin-top: 35px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .main__link {
    border-radius: 30px;
    width: 280px;
    height: 40px;
  }
}

/*/////////   tablet  /////////// */
@media (min-width: 760px) and (max-width: 1110px) {
  .banner {
    background-image: url(../IMG/tablet-baner.jpg);
  }

  .container {
    width: 660px;
    padding-top: 50px;
    padding-bottom: 230px;
  }

  .header {
    margin-bottom: 80px;
  }

  .site-logo {
    margin-right: auto;
  }

  /* hero */

  .hero__title {
    font-size: 52px;
    margin-bottom: 45px;
  }

  .hero__description {
    font-family: var(--second-font);
    color: var(--banner-text-color);
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
  }

  .hero__link {
    border-radius: 20px;
    width: 225px;
  }

  /* main */
  .main-title {
    margin-bottom: 35px;
  }

  .main-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .main-item {
    width: 220px;
    margin-top: 35px;
    margin-bottom: 40px;
  }

  .main-item:not(:last-child) {
    margin-right: 35px;
  }

  .main__link {
    border-radius: 20px;
    width: 225px;
  }
}

@media screen and (min-width: 1110px) {
  .banner {
    background-image: url(../IMG/desktop-baner.jpg);
  }

  .container {
    width: 900px;
    padding-top: 35px;
    padding-bottom: 230px;
  }

  .header {
    margin-bottom: 80px;
  }

  .site-logo {
    margin-right: auto;
  }

  /* hero */

  .hero__title {
    font-size: 52px;
    margin-bottom: 45px;
  }

  .hero__description {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .hero__link {
    border-radius: 20px;
    width: 225px;
  }

  /* main */

  .main-title {
    margin-bottom: 35px;
  }

  .main-menu {
    display: flex;
  }

  .main-item {
    width: 220px;
    margin-top: 35px;
    margin-bottom: 40px;
  }

  .main-item:not(:last-child) {
    margin-right: 35px;
  }

  .main__link {
    border-radius: 20px;
    width: 225px;
  }
}
